body {
  &.js {
    .js-hide {
      display: none;
    }
  }

  .nav-wrapper {
    .brand-logo {
      padding-left: 15px;
    }
  }

  .active {
    font-weight: 500;
    text-decoration: underline;
  }

  .carousel {
    .caption {
      position: absolute;
      top: 50px;
      width: 100%;
    }
  }

  .page-footer {
    padding: 0;
  }
}
