body {
  &.js {
    .js-hide {
      display: none;
    }
  }

  .nav-wrapper {
    .brand-logo {
      padding-left: 15px;
    }
  }

  .active {
    font-weight: 500;
    text-decoration: underline;
  }

  .page-footer {
    padding: 0;
  }
}
