astroid==1.6.5
certifi
chardet
coverage
Django
django-debug-toolbar
django-jenkins
gunicorn
idna
isort
lazy-object-proxy
mccabe
olefile
pep8
Pillow
psycopg2
psycopg2-binary
pyflakes
pylint==1.9.2
pylint-django==0.11.1
pylint-plugin-utils==0.4
pytz
requests
six
sqlparse
typed-ast
urllib3
wrapt
