coverage==4.5.3
Django==2.2.4
django-debug-toolbar==1.11
django-jenkins==0.110.0
gunicorn==19.9.0
pep8==1.7.1
Pillow==6.0.0
psycopg2-binary==2.8.2
pyflakes==2.1.1
# There is a problem with django-jenkins and new version of pylint
# https://github.com/kmmbvnr/django-jenkins/issues/367
pylint==1.9.2
pylint-django==0.11.1
pylint-plugin-utils==0.4
requests==2.22.0
