{% load i18n %}
{% if objects.object_list and objects.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href= "?{% if page_name %}{{ page_name }}{% else %}page{% endif %}={{ objects.previous_page_number }}{% if page_hash %}#{{ page_hash }}{% endif %}">{% trans "Previous" %} &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;{% trans "Page" %} {{ objects.number }} {% trans "of" %} {{ objects.paginator.num_pages }}
        </span>

        {% if objects.has_next %}
            <a href="?{% if page_name %}{{ page_name }}{% else %}page{% endif %}={{ objects.next_page_number }}{% if page_hash %}#{{ page_hash }}{% endif %}" class="jscroll-next"> &gt;&gt; {% trans "Next" %}</a>
        {% endif %}
    </span>
</div>
{% endif %}
